<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <P class="title">Hello World</P> <br />
    <p class="subtitle">Bienvenido al inventario, ingrese un producto</p>

    <div class="container">
        <label class="subtitle">Nombre:</label>
        <input class="input" type="text" placeholder="Text input" />
        
        <label class="subtitle">Descripción:</label>
        <input class="input" type="text" placeholder="Text input" />

        <label class="subtitle">Creador:</label>
        <input class="input" type="text" placeholder="Text input" />
        
        <label class="subtitle">aaaaa</label>
        <input class="input" type="text" placeholder="Text input" />

        <button type="submit" class="button is-danger">Presione acá para enviar</button>
    </div>
</body>
</html>